<ion-view title="Snap">
    <ion-content padding="'true'" class="has-header">

        <div class="apps">
            <h4>Hurry Up!</h4>
            <!-- <p class="subtext">Powered by Wikitude</p>
            <p>Press this button and point your phone to a PhoneGap Day T-Shirt</p>
           <a href="#" id="launch-demo" class="button button-action button-rounded">Fun happy demo time!</a>
            <button type="button" class="btn btn-primary" ng-click="redirect()">Click</button>
            <button class="button" ng-click="modal.show()">Open Modal</button>-->
            <div class="item item-image">
                <img class="ar-image" ng-src="img/together-love.jpg" style="width:100%; height: auto;" />
            </div>
            <p></p>
            <p>Press this button and point your phone to the target image like shown above.</p>
            <button class="button button-calm button-block" ng-click=launchAR()>GO</button>
        </div>


</ion-view>