<ion-view view-title="Snap Shot" align-title="center">
    <ion-content>
        <div class="app" style="padding: 10px 20px;">
            <h4>Hurry Up!</h4>


            <img class="ar-image" ng-src="img/together-love.jpg" style="width:100%; height: auto;" />

            <p></p>
            <p class="subtext">Press this button and point your phone to the target image like shown above.</p>
            <button class="button button-calm button-block" ng-click=launchAR()>GO</button>
        </div>


    </ion-content>
</ion-view>